<div class="slide__cover">
  <div class="slide__title">
    <div class="container">
      <h2 class="huge-text"><a href="https://twitter.com/pixelhandler">Ember Simple Form</a></h2>
    </div>
  </div>
</div>
