<div class="slide__cover">
  <div class="slide__title">
    <div class="container">
      <h2 class="big-text"><a href="https://twitter.com/pixelhandler">Bill Heaton (aka Pixelhandler)</a></h2>
      <h2 class="big-text"><a href="https://github.com/yapplabs/ember-buffered-proxy">Yapp - Ember Buffered Proxy</a></h2>
    </div>
  </div>
</div>
