body {
  margin: 0;

  font-family: $brand-sans;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  min-width: 50%;
}

a {
  color: $brand-primary;
}

input {
  font-size: 1rem;
  border: 0;

  background: none;
  border-bottom: lighten($brand-grey, 50%) 0.1rem solid;
}

.app {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.container {
  max-width: 65rem;
  margin: auto;
}

.mono {
  font-family: $brand-mono;
}
