.slide {
  display: flex;
  flex-grow: 1;
  background: $brand-grey;
  color: $brand-white;

  &__cover {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1;

    &--tiy {
      background: $tiy-grey;
    }

    &--column {
      flex-direction: column;
    }
  }

  &__title {
    text-align: center;
  }
}
