$gutter: 2rem;

$brand-sans: 'Open Sans', sans-serif;
$brand-mono: 'Play', monospace;

$brand-primary: #e1563f;
$brand-grey: #3c3635;
$brand-white: #efefef;

@import 'base';
@import 'top-nav';
@import 'slide';
@import 'slides-list';

.huge-text {
  font-size: 3rem;

  margin-top: 0;
}
