$gutter: 2rem;

$brand-sans: 'Open Sans', sans-serif;
$brand-mono: 'Play', monospace;

$brand-primary: #e1563f;
$brand-white: #efefef;

@import 'base';
@import 'top-nav';

.slide {
  flex-grow: 1;
}

.slides-list {
  margin: 0;
  display: flex;

  &__item {
    margin: 0;
    padding: ($gutter / 2) 0;
    color: $brand-white;
    font-weight: 600;
    flex-grow: 1;
    text-align: center;
  }
}
