<div class="app">
  <div class="top-nav">
    <div class="container">
      <nav class="top-nav__row">
        <h1 class="top-nav__logo">>eg</h1>
        <h2 class="top-nav__title">DDAU with simple-form</h2>

        <button class="top-nav__btn" onclick={{route-action "resetSlides"}}>
          Reset Slides
        </button>
      </nav>
    </div>
  </div>

  <div class="slide">
    {{outlet}}
  </div>

  <ul class="slides-list">
    {{#each model as |slide|}}
      <li class="slides-list__item" style="background: {{slide.color}}">
        {{#link-to slide.routeName class="slides-list__link"}}
          {{if slide.name slide.name slide.id}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
