<div class="slide__cover">
  <div class="slide__title">
    <div class="container">
      <h1 class="huge-text mono"><a href="http://www.meetup.com/Nashville-EmberJS/events/229441152/">Ember JS Nashville</a></h1>
    </div>
  </div>
</div>
