<div class="slide__cover">
  <div class="slide__title">
    <div class="container">
      <h1 class="huge-text">Ryan Tablada</h1>
      <h2 class="big-text">Data Down Actions Up with Simple Form and With Service</h2>
    </div>
  </div>
</div>
