{{! BEGIN-SNIPPET edit-slide-form-template }}
<div class="form-field">
  <label class="form-field__label">Slide Name</label>
  {{input class="form-field__input" placeholder="Slide Name" value=name}}
</div>

<button class="form-btn form-btn--submit">Save</button>
{{! END-SNIPPET }}
