<div class="slide__cover slide__cover--tiy">
  <div class="slide__title">
    <div class="container">
      <img class="logo-img" src="iron-yard-logo.svg" alt="The Iron Yard">
    </div>
  </div>
</div>
