<div class="slide__cover">
  <div class="slide__title">
    <div class="container">
      <h2 class="huge-text">See You @EmberConf</h2>

      <h1 class="huge-text mono"><a href="https://embergrep.com">Ember Grep</a></h1>

      <h2 class="big-text">New Course Coming Soon!</h2>

      <h2 class="big-text">Twitter: <a href="https://twitter.com/ryantablada">ryantablada</a></h2>
      <h2 class="big-text">Github: <a href="https://github.com/rtablada">rtablada</a></h2>
    </div>
  </div>
</div>
