<div class="slide__cover">
  <div class="slide__title">
    <div class="container">
      <h2 class="huge-text">Results</h2>

      <ul class="flex-list">
        <li>Clean Models</li>
        <li>Local Binding</li>
        <li>Time Saving</li>

        <li>Composable Templates</li>
        <li>Reusability</li>

        <li>More Efficient setProperties</li>
      </ul>
    </div>
  </div>
</div>
