<div class="slide__cover">
  <div class="slide__title">
    <div class="container">
      <h2 class="huge-text"><a href="https://github.com/rtablada/ember-with-service">Ember With Service</a></h2>
      <h2 class="big-text">Access services from your templates!</h2>
    </div>
  </div>
</div>
